
@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz&display=swap');


.container {
  width: 100vw;
  height: 95vh;
  /* border: 2px solid black; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  background-color: rgb(240, 245, 248);
  box-shadow: 5px 5px 5px 5px rgb(151, 164, 168);
  margin-top: 10px;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  letter-spacing: 0.1rem;
}

body {
  background-color: #f5c447;
}

.left-col {
  width: 60vw;
  height: 85vh;
  /* border: 2px solid red; */
  display: flex;
  flex-direction: row;
  background-color: white;
  box-shadow: 5px 5px 5px 5px #c9c9c9;
  margin: 5px 10px;
}
.right-col {
  /* width: 30vw; */
  /* height: 85vh; */
  /* border: 2px solid rgb(28, 219, 21); */
  /* background-color: white; */
  /* box-shadow: 5px 5px 5px 5px #c9c9c9; */
  /* margin: 0px 10px; */
  display: flex;
  flex-direction: column;
}

.total {
  height: 40vh;
  box-shadow: 5px 5px 5px 5px #c9c9c9;
  margin: 5px;
  background-color: white;
}

.coupon {
  height: 20vh;
  padding: 8px;

  box-shadow: 5px 5px 5px 5px #c9c9c9;
  margin: 5px;
  background-color: white;
}

.delivery {
  height: 20vh;
  box-shadow: 5px 5px 5px 5px #c9c9c9;
  margin: 5px;
  background-color: white;
}

/* styling images */
.left-card {
  display: flex;
  flex-direction: column;
}
.left-card img {
  width: 26vw;
  height: 40vh;
}

.first-img {
  display: flex;
  flex-direction: row;
}

.second-img {
  display: flex;
  flex-direction: row;
}

.shirt-details {
  width: 16vw;
  height: 40vh;
  /* border: 2px solid brown; */
  margin-left: 1rem;
}

.shirt-quantity {
  height: 40vh;
  width: 16vw;
  /* border: 2px solid black; */
  display: inline-block;
}

.wish {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 20rem;
}

.total {
  padding: 8px;
}

.final-charges {
  display: flex;
  justify-content: space-between;
  /* margin: 5px; */
}

.shipping {
  display: flex;
  justify-content: space-between;
}

.page-item input {
  width: 2rem;
  text-align: center;
}

.page-item button {
  height: 1.9rem;
}

#first-pagination ul {
  margin-top: 1rem;
}

.delivery {
  padding: 8px;
}

.fa-heart:hover{
    color: red;
    
}



/* Resposive code */

/* @media screen and (max-width: 1400px) {

    .container {
        display: flex;
        flex-direction: column;
        /* background-color: red; */
        /* height: auto; */
    }

    /* .left-col{
        width: 70vw;
    }

    .right-col {
        width: 70vw;
    }

    .wish{
        display: flex;
        flex-direction: column;
    } */




/* } */ 